<h1><%= t('welcome') %></h1>

<div class="center" style="padding-top:10px;padding-bottom:10px;">
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fradiantrealms%2Fvideos%2F626743774159835%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <p>
    <%= t('lucid_preview') %>
  </p>
</div>

<div class="center" style="padding-top:10px;padding-bottom:10px;">
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fradiantrealms%2Fvideos%2F264899044457685%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  <p>
    <%= t('got_cover') %>
  </p>
</div>

<div class="center">
  <%= t('coming_soon') %>
</div>